<a href="https://colab.research.google.com/github/AIWalaBro/Python_Practice_Code/blob/main/2)TCSNQT_CrashCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) given positive integer N , print count of sets bit in it:
example :
input = 6
output = 2

In [ ]:
def sets_bit_counter(n):
  count = 0
  while n:
    n &= (n - 1)
    count += 1
  return count

sets_bit_counter(6)

2

In [ ]:
def count_set_bits(n):
  count = 0
  while n:
    count += n & 1
    n >>= 1
  return count

In [ ]:
count_set_bits(6)

2

# Factorial problem

In [ ]:
def factorial(n):
  res = 1
  for i in range(2, n+1):
    res = res * i
  return res

factorial(5)

120

#Q2)Find the middle of a given linked list in python
Given a singly linked list, find the middle of the linked list. For example, if the
given linked list is 1->2->3->4->3 Then the output should be 3
If there are even nodes, then there would be two middle nodes, we need to print
the second middle element. For example, if given linked list is 1->2->3-4>5->6
then output should be 4.

In [ ]:
class ListNode:
    def __init__(self, value):
        self.value = value
        self.next = None

def find_middle(head):
    if not head:
        return None

    female_pointer = head
    male_pointer = head

    while male_pointer and male_pointer.next:
        female_pointer = female_pointer.next
        male_pointer = male_pointer.next.next

    return female_pointer.value

# Example usage:
# Create a linked list: 1 -> 2 -> 3 -> 4 -> 5 -> 6
head = ListNode(1)
head.next = ListNode(2)
head.next.next = ListNode(3)

result = find_middle(head)
print("Middle element:", result)

Middle element: 2

#Q3) extract the sets bit of right most
input :- 15
output :- 1

In [ ]:
import math
def right_most_sets(n):
   a = math.log2(n & -n)
   a = a+1
   return a

right_most_sets(12)

3.0

# Q4)Given two numbers M and N. The task is to find the position of rightmost different bit in binary representation of numbers.
- Input: c
Two space separated integers M and N.

- Output:
- Print the position of rightmost different bit in binary representation of numbers.
- Constraints:
-- 1 <= M <= 103
-- 1 <= N <= 103
-- M and N takes different Values
- Example:
- Input:
11 9
52 4

Output:
2
5

In [ ]:
# create a function
import math
def Rightmost_diff_setbit(m,n):

  # Step1: XOR between m and n value store it into result
  result= (m ^ n)

  # Step2: binary values of result and its -ve binary value taking amphersand then taking log2
  a = math.log2(result & -result)

  # step3:- add 1 and return a you will get right most diff.
  a = a+1
  return a

In [ ]:
Rightmost_diff_setbit(52,4)

5.0

#Q5) Given two positive integers num1 and num2, the task is to find the remainder when num1 is divided by num2.
Example 1:
- Input:

      num1 = 5
      num2 = 3
- Output:
      2
- Explanation:
The remainder after dividing 5 by 3 is: 2.
- Example 2:

- Input:

      num1 = 5
      num2 = 10
Output:
  
      5
Explanation:
5 cannot be divided by 10 so it is
the Remainder.

### method 1)

In [ ]:
def find_remainder(m,n):
   res = m%n
   return res

find_remainder(5,10)

# small number divided by large number then smaller number remain

5

In [ ]:
find_remainder(5,3)

2

###method2)

In [ ]:
def get_remainder(num, divisior):
  remainder = (num - divisior*(num/divisior))
  return remainder

# not sure  we have to wrok upon it

In [ ]:
get_remainder(11,2)

0.0

### method3)

In [ ]:
def getremainder(num, divisior):
  product = 0
  i = 1
  while product <= 26:
     product = divisior * i
     i += 1

  return num - (product - divisior)

In [ ]:
getremainder(26,4)

2

#6) Find leap year

In [10]:
def find_leap_year(year):
  if year%400 == 0:
    print('this is leap year which is divisible by 400')
    return 1

  if year%100 == 0:
    print('this is leap year which is divisible by 400 also divisible by 100 because it century')
    return 0
  if year%4 == 0:
    print('this is leap year which is divisible by 4 and its not an century')
    return 1

  print('this is non leap year')
  return 0

find_leap_year(2000)

this is leap year which is divisible by 400

1

#Q7)
Jetha like chocolates and he loves to try different ones. There are N shops in a market labelled from 1 to N and
each shop offers a different variety of chocolate. Jetha starts from ith shop and goes ahead to each and every
shop. But as there are too many shops Midori would like to know how many more shops he has to visit. You have
been given L denoting number of bits required to represent N. You need to return the maximum number of shops
he

Example 1:

Input: i = 2, L = 3
Output: 6
Explanation: There are 3 bits So N = 8
Hence Jetha can visit 8 - 2 = 6 more shops.

Example 2:

Input: i = 1, L = 2
Output: 3
Explanation: There are 2 bits so N = 4
Hence Jetha can visit 4 - 1 = 3 more shops.

In [3]:
# 2 ka power i se solve krna hai aap ko yeah pta krna hai ki agar mami kisi dukan ke pas khda hu
# aur muse kitni dukane aur aage jana hai aur aapko n ki value pta hai toh kaise nikaloge

def jeta_visit_shops(i,j):
  k = (2**i - j)
  return k

jeta_visit_shops(3,3)

# 2 ka power 2 matalab =8 aur 8-3 = 5 times aur aage jana pdega jetha laal ko

5

# Q8)
Write a program to merge two sorted arrays, the
idea is to take two sorted arrays and merge them
such that the resultant array is also sorted.

In [1]:
def merge_sorted_arrays(arr1, arr2):
    merged_array = []
    i = 0  # Pointer for arr1
    j = 0  # Pointer for arr2

    while i < len(arr1) and j < len(arr2):
        if arr1[i] < arr2[j]:
            merged_array.append(arr1[i])
            i += 1
        else:
            merged_array.append(arr2[j])
            j += 1

    # If there are remaining elements in arr1 or arr2, add them to merged_array
    while i < len(arr1):
        merged_array.append(arr1[i])
        i += 1

    while j < len(arr2):
        merged_array.append(arr2[j])
        j += 1

    return merged_array

# Example usage:
arr1 = [1, 3, 5, 7]
arr2 = [2, 4, 6, 8]
merged_result = merge_sorted_arrays(arr1, arr2)
print("Merged Sorted Array:", merged_result)

Merged Sorted Array: [1, 2, 3, 4, 5, 6, 7, 8]

#Q9) greatest commmon divisor
input:- 28,20
- ouput:- 4

In [4]:
def gcd(a,b):
  if a == 0:
    return b

  if b == 0:
    return a
  if a == b:
    return a
  if a > b:
    return gcd(a-b, b)
  return gcd(a, b-a)


gcd(28,20)

4

#Q10)
Write a program in python to find GCD of two numbers
Input : two +ve integers separated by space
Output : +ve integer which is GCD of two numbers
Public Test Cases
Input: 20 28
Output: 4
Input: 98 56
Output: 14

In [5]:
# Function to calculate the GCD using the Euclidean algorithm
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Input two positive integers separated by space
input_str = input("Enter two positive integers separated by space: ")
try:
    num1, num2 = map(int, input_str.split())
    if num1 > 0 and num2 > 0:
        result = gcd(num1, num2)
        print("GCD of", num1, "and", num2, "is:", result)
    else:
        print("Both numbers must be positive integers.")
except ValueError:
    print("Invalid input. Please enter two positive integers separated by space.")

Enter two positive integers separated by space: 28 20
GCD of 28 and 20 is: 4

# Q11)To calculate the Least Common Multiple (LCM) of two numbers using Python, you can use the formula:

LCM(a, b) = (a * b) / GCD(a, b)

You already have the code to calculate the GCD using the Euclidean algorithm. You can modify the code to calculate the LCM as follows:

In [7]:
# Function to calculate the GCD using the Euclidean algorithm
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Function to calculate the LCM of two numbers
def lcm(a, b):
    return (a * b) // gcd(a, b)  # Using the GCD to calculate LCM

# Input two positive integers separated by space
input_str = input("Enter two positive integers separated by space: ")
try:
    num1, num2 = map(int, input_str.split())
    if num1 > 0 and num2 > 0:
        result = lcm(num1, num2)
        print("LCM of", num1, "and", num2, "is:", result)
    else:
        print("Both numbers must be positive integers.")
except ValueError:
    print("Invalid input. Please enter two positive integers separated by space.")

Enter two positive integers separated by space: 28 20
LCM of 28 and 20 is: 140

#Q12) Program to add two fractions and display their sum in reduced form
Public Test cases:
Input: 1 2 3 2
Output: 2 1

Input: 1 3 3 9
Output: 2 3

In [14]:
from math import gcd

# Function to find the least common multiple (LCM) of two numbers
def lcm(a, b):
    return (a * b) // gcd(a, b)

# Function to reduce a fraction to its simplest form
def reduce_fraction(numerator, denominator):
    common_divisor = gcd(numerator, denominator)
    reduced_numerator = numerator // common_divisor
    reduced_denominator = denominator // common_divisor
    return reduced_numerator, reduced_denominator

# Input two fractions as four integers separated by space
input_str = input("Enter two fractions as four integers separated by space (num1 den1 num2 den2): ")
try:
    num1, den1, num2, den2 = map(int, input_str.split())

    # Calculate the sum of the fractions
    common_denominator = lcm(den1, den2)
    sum_numerator = num1 * (common_denominator // den1) + num2 * (common_denominator // den2)

    # Reduce the result to its simplest form
    reduced_numerator, reduced_denominator = reduce_fraction(sum_numerator, common_denominator)

    print("Sum of fractions in reduced form:", reduced_numerator, reduced_denominator)
except ValueError:
    print("Invalid input. Please enter four integers separated by space.")

Enter two fractions as four integers separated by space (num1 den1 num2 den2): 1 3 3 9
Sum of fractions in reduced form: 2 3

# Q13)
Write a program to find the number of
integers with exactly 9 divisors
Public Test cases:
,100
Input:
100.
Output:
2
36 100
Divisors of 36 = 1, 2, 3, 4, 6, 9, 12, 18, 36
Divisors of 100 = 1, 2, 4, 5, 10, 20, 25, 50, 100

In [15]:
# Function to count the number of divisors of a given number
def count_divisors(num):
    count = 0
    for i in range(1, int(num**0.5) + 1):
        if num % i == 0:
            count += 2 if i != num // i else 1
    return count

# Input a positive integer
n = int(input("Enter a positive integer: "))

count = 0

# Find numbers with exactly 9 divisors
for num in range(1, n + 1):
    if count_divisors(num) == 9:
        count += 1
        print(num, end=" ")

print("\nNumber of integers with exactly 9 divisors:", count)

Enter a positive integer: 100
36 100
Number of integers with exactly 9 divisors: 2

#Q14)
Given we postave integers N and x, where N is the number of total patients and X is the
time duration(in minutes) after which a new patient arrives. Also, doctor will give only 10
minutes to each patient. The task is to calculate the time (in minutes) the last patient needs
to wait.

Input:
The input denote the total number of patients N and time interval X(in minutes) in which the
next patients are visiting.


Output:
Output the waiting time of last patient.

Public test cases

Input 4 5

Output 15

Input 5 3

Output 28

In [33]:
# Input
N, X = map(int, input().split())

# Calculate the waiting time for the last patient
wait_time = (10 - X) * (N - 1)

# Output the result
print(wait_time)

5 3
28

Q15) Write a program to reverse a string without using inbuilt string reverse library functions

In [34]:
# spcae complexity order (1)
# Function to reverse a string in-place

def reverse_string_in_place(char_array):
    left, right = 0, len(char_array) - 1
    while left < right:
        char_array[left], char_array[right] = char_array[right], char_array[left]
        left += 1
        right -= 1

# Input string
input_str = list(input("Enter a string: "))  # Convert the input string to a list of characters

# Reverse the string in-place
reverse_string_in_place(input_str)

# Convert the list of characters back to a string
reversed_str = "".join(input_str)

# Output the reversed string
print("Reversed string:", reversed_str)

Enter a string: single
Reversed string: elgnis

In [35]:
# space complexity order(n)
# Function to reverse a string

def reverse_string(input_str):
    reversed_str = ""
    for char in input_str:
        reversed_str = char + reversed_str
    return reversed_str

# Input string
input_str = input("Enter a string: ")

# Reverse the string
reversed_str = reverse_string(input_str)

# Output the reversed string
print("Reversed string:", reversed_str)

Enter a string: bring
Reversed string: gnirb

#Q16)
MS Excel columns have a pattern like A, B, C, ..., Z, AA, AB, AC, ...., AZ, BA, BB, ...
ZZ, AAA. AAB ... etc. In other words, column 1 is named as "A", column 2 as "B",
column 27 as "AA"
Given a column number, find its corresponding Excel column name. The following are
more examples.


Input
26
51
52
80
676
702
705


Output
Z
AY
AZ
СВ
YZ
ZZ
AAC

In [36]:
def convert_to_excel_column_name(column_number):
    result = ""
    while column_number > 0:
        remainder = (column_number - 1) % 26  # Adjust for 1-based indexing
        result = chr(ord('A') + remainder) + result
        column_number = (column_number - 1) // 26  # Integer division
    return result

# Test cases
column_numbers = [26, 51, 52, 80, 676, 702, 705]

for column_number in column_numbers:
    excel_column_name = convert_to_excel_column_name(column_number)
    print(excel_column_name)

Z
AY
AZ
CB
YZ
ZZ
AAC

Given a string S that represents column title of an Excel sheet, find the number
that represents that column.
In excel A column is number 1, AA is 27 and so on.
Input:
' Constraints:
1 ≤ ISI <=7
A single line of input containing string S.
Output:
Print the column number.

Example:
Input
A
AA
Output
1
27

In [43]:
def excel_column_to_number(column_title):
    column_number = 0
    for char in column_title:
        column_number = column_number * 26 + (ord(char) - ord('A') + 1)
    return column_number

# Input
column_title = input()

# Convert to column number
column_number = excel_column_to_number(column_title)

# Output the column number
print(column_number)

AAA
703

Lohia, Gos and Prince are footballers. Lohia and Gos are strikers while Prince is a goalkeeper. You as the
coach held a practice session of penalty shootouts to improve the performance of the strikers. Your task is to
find the maximum goal scorer between the two.
Lona, Gosu and Prince energy is denoted by X, Y and Z respectively. For every goal scored the energy of the
respective player is decreased by 1 and after every save Prince energy is decreased by 1. Strikers will be able
to score the goal if Prince energy is a factor of their energy otherwise not.
The session ends when Prince's energy reaches 1.
Assume same player can try for goals repeatedly and they both try to increase number of goals in totality. Lohia
being a junior player is always favoured for penalty kick.


Input:

The first line of input contains an integer T denoting the number of test cases. Each test case contains energy 3
integers X, Y & Z, denoting the energies respectively.


Output:
For each test case print the number of goals scored by Lohia and Gos respectively.

In [52]:
penalty_shootout(14,8,5)

(0, 0)

In [70]:
def penalty_shootout(lohia_energy, gos_energy, prince_energy):
  """
  Finds the maximum goal scorer between Lohia and Gos in a penalty shootout.

  Args:
    lohia_energy: The energy of Lohia.
    gos_energy: The energy of Gos.
    prince_energy: The energy of Prince.

  Returns:
    A tuple of the (number of goals scored by Lohia, number of goals scored by Gos).
  """
  lohia_score = 0
  gos_score = 0
  while prince_energy > 1:
    if lohia_energy > 0 and lohia_energy >= prince_energy:
      lohia_score += 1
      lohia_energy -= prince_energy
    else:
      prince_energy -= 1
    if gos_energy > 0 and gos_energy >= prince_energy:
      gos_score += 1
      gos_energy -= prince_energy
    else:
      prince_energy -= 1
  return lohia_score, gos_score

result = penalty_shootout(10, 5, 5)
print(result)  # Output: (2, 1)

(2, 1)

In [71]:
def penalty_shootout(lohia_energy, gos_energy, prince_energy):
  """
  Finds the maximum goal scorer between Lohia and Gos in a penalty shootout.

  Args:
    lohia_energy: The energy of Lohia.
    gos_energy: The energy of Gos.
    prince_energy: The energy of Prince.

  Returns:
    A tuple of the (number of goals scored by Lohia, number of goals scored by Gos).
  """
  lohia_score = 0
  gos_score = 0
  while prince_energy > 1:
    if lohia_energy >= prince_energy:
      lohia_score += 1
      lohia_energy -= prince_energy
    else:
      prince_energy -= 1
    if gos_energy >= prince_energy:
      gos_score += 1
      gos_energy -= prince_energy
    else:
      prince_energy -= 1
  return lohia_score, gos_score

result = penalty_shootout(10, 5, 5)
print(result)  # Output: (2, 1)

(2, 1)